<!DOCTYPE html>
<html>

<head>
  <title>Json Formatter</title>
  <link rel="stylesheet" type="text/css" href="css/style.css" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <script type="text/javascript" src="js/keyboard.js"></script>
</head>

<body>
  <div class="wrapper">
      <h1 data-heading="HAYOO?"><span data-heading="HAYOO?">HAYOO?</span></h1>
      <img src="images/imac-2x.png" alt="">
      <div id="hold">
      </div>
    </div>
  </div>
  <div class="wrapper" style=margin-top:220px;>
    <div>
      <div id="buttons">
      </div>
      <div class="single-div">
        <button id="hint"><i class="fa fa-question-circle fa-2x"></i> </button>
        <button id="reset"><i class="fa fa-refresh fa-2x"></i></button>
      </div>
    </div>
    <div class="category">
      <p id="catagoryName"></p>
    </div>
    <div id="hold">
    </div>
    <p id="mylives"></p>
    <div class="magic">
      <p id="clue">Clue -</p>
    </div>
    <canvas id="stickman">Browser Tidak Mendukung Canvas HTML5</canvas>
    <div> 
    <div class="footer">
      <i class="fa fa-question-circle fa-2x"></i><p> click untuk melihat clue jawaban.</p>
      <i class="fa fa-refresh fa-2x"></i><p> click untuk main ulang.</p>
    
  </div>




</body>

</html>