/* Variabes */
/* Mixin's */
body {
  background: #2c3e50;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  color: #fff;
  height: 100%;
  text-align: center;
  font-size: 18px;
}
.wrappper {
  width: 100%;
  margin: 0 auto;
}
.wrappper:after {
  content: "";
  display: table;
  clear: both;
}
img {
  width: 650px;
  height: 410px;
  position: absolute;
  left: 26%;
}
canvas {
  color: #fff;
  border: #fff dashed 2px;
  padding: 15px;
  margin-top: -10px;
  margin-bottom: 10px;
}
h1, h2, h3 {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  text-transform: uppercase;
  margin: 5px 0;
}
h1 {
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  font-size: 13vw;
  text-align: center;
  line-height: 1;
  margin-bottom: 30px;
  position: relative;
  color: #2599d8;
}
h1:before, h1:after, h1 span:before, h1 span:after {
  content: attr(data-heading);
  position: absolute;
  overflow: hidden;
  left: 23%;
}
h1:before {
  color: #d61c5b;
  height: 34%;
  z-index: 5;
}
h1:after {
  color: #f1573f;
  height: 50%;
  z-index: 4;
}
h1 span:before {
  color: #feb213;
  height: 66%;
  z-index: 3;
}
h1 span:after {
  color: #6abc4e;
  height: 80%;
  z-index: 2;
}
h2 {
  font-size: 1.6em;
}
p {
  background-image: linear-gradient(to right,#F15A5A,#F0C419,#4EBA6F,#2D95BF,#955BA5);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  animation: unicorn 1s forwards;
  font-size: 1.6em;
}
#alphabet {
  float: left;
  margin-left: 260px;
  height: 150px;
  max-width: 780px;
  background-color: #ecf0f1;
  -moz-border-radius-topleft: 7px 21px;
	-moz-border-radius-topright: 7px 21px;
	-moz-border-radius-bottomright: 10px;
	-moz-border-radius-bottomleft: 10px;
	border-top-left-radius: 7px 21px;
	border-top-right-radius: 7px 21px;
	border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
   padding: 40px 0 0 30px; 
   -webkit-box-shadow: 
		inset 0 0 25px #e8e8e8,
		0 1px 0 #c3c3c3,
		0 2px 0 #c9c9c9,
		0 2px 3px #333;
	-moz-box-shadow: 
		inset 0 0 25px #e8e8e8,
		0 1px 0 #c3c3c3,
		0 2px 0 #c9c9c9,
		0 2px 3px #333;
	box-shadow: 
		inset 0 0 25px #e8e8e8,
		0 1px 0 #c3c3c3,
		0 2px 0 #c9c9c9,
		0 2px 3px #333;
}
#alphabet:after {
  content: "";
  display: table;
  clear: both;
}
#alphabet li {
  float: left;
  margin: 10px 10px 10px 10px;
  list-style: none;
  width: 35px;
  height: 30px;
  padding-top: 10px;
  
  cursor: pointer;
  text-transform: uppercase;
   -webkit-border-radius: 5px;
  border-radius: 4px;
  -khtml-border-radius: 5px;
  border: solid 1px #fff; 

  color: #fff;
  font: bold 9pt arial;
  background: #3e4a53;
	text-shadow: 0px 1px 0px #f5f5f5; 

}
#alphabet li:hover {
  background-image: linear-gradient(to right,#F15A5A,#F0C419,#4EBA6F,#2D95BF,#955BA5);
  border: solid 1px #fff;
  color: #fff;
}
#my-word {
  margin: 0;
  display: block;
  padding: 0;
  display: block;
}
#my-word li {
  position: relative;
  list-style: none;
  margin: 0;
  display: inline-block;
  padding: 0 10px;
  font-size: 1.6em;
}
#hold {
  padding-top: 150px;
}
.category {
  width: 600px;
  margin-left: 370px;
}
.category p{
  margin-top: -590px;
}
#mylives {
  margin-top: -45px;
  font-size: 1.6em;
  text-align: center;
  display: block;
}
.magic p {
   margin-top: 380px; 
}

button:focus {
  outline:0;
}
#hint{
  background: #eee;
  border-top-left-radius: 60px;
  color: #3e4a53;
  font-size: 16px;
  padding: 11px 20px 33px 23px;
   border-right: solid #eee 2px; 
   border-bottom: solid #eee 2px;
  text-decoration: none;
  width: 75px;
  height: 100px;
  top: -235px;
  position: relative;
  float: left;
}
#hint:before {
  content: "";
  position: absolute;
  height: 13px;
  width: 13px;
  border-radius: 50%;
  background-image: linear-gradient(to right,#F15A5A,#F0C419,#4EBA6F,#2D95BF,#955BA5);
  left: 100%;
  transform: translateX(-50%);
  top: 35px;
  box-shadow: 1px -1px 0 0 rgba(64, 64, 73, 1), inset 1px -2px 0 rgba(64, 64, 73, 1);
}
#hint:hover {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background: #3e4a53;
  color: #eee;
  cursor: pointer;
} 
#reset{
  background: #eee;
  border-top-right-radius: 60px;
  font-family: Arial;
  color: #3e4a53;
  font-size: 14px;
  padding: 11px 20px 33px 23px;
  border-right: solid #eee 2px; 
   border-bottom: solid #eee 2px;
  text-decoration: none;
  width: 75px;
  height: 100px;
  top: -235px;
  position: relative;
  float: right;
}
#reset:before {
  content: "";
  position: absolute;
  height: 13px;
  width: 13px;
  border-radius: 50%;
  background-image: linear-gradient(to right,#F15A5A,#F0C419,#4EBA6F,#2D95BF,#955BA5);
  right: 85%;
  transform: translateX(-50%);
  top: 35px;
  box-shadow: 1px -1px 0 0 rgba(64, 64, 73, 1), inset 1px -2px 0 rgba(64, 64, 73, 1);
}
#reset:hover {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background: #3e4a53;
  color: #eee;
  cursor: pointer;
}
@media (max-width: 767px) {
  #alphabet {
    padding: 0 0 0 15px;
  }
}
@media (max-width: 480px) {
  #alphabet {
    padding: 0 0 0 25px;
  }
}


.single-div {
  left: 85%;
  width: 150px;
  height: 220px;
  background-image: linear-gradient(to right,#F15A5A,#F0C419,#4EBA6F,#2D95BF,#955BA5);
  border-radius: 70px 70px 80px 80px;
  box-shadow: 0 7px 0 #fff, -6px 12px 0 0 rgba(0, 0, 0, 0.08), inset 7px -2px 0 rgba(206, 206, 206, 0.2);
  position: relative;
}
.footer {
  margin-bottom: 20px;
}
  .footer i{
  float: left;
  margin-left: 36%;
  margin-right: 10px;
 }
.footer p{
  color: #eee;
  text-align: left;
  font-size: 24px;
} 
